@use "sass:list";

@import "styles/variables";

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  padding-top: 120px;
  overflow: hidden;
  position: relative;
  background: url("/images/about.svg");
  background-position: center;
  background-size: cover;
  filter: hue-rotate(50deg);
 
  @media (max-width: 768px) {
    height: auto;
    padding-top: 60px;
  }
  .mainContent {
    display: flex;
    gap: 20px 100px;
    flex-wrap: wrap;
    z-index: 1;
    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      color: $text-color;
      .name {
        font-size: 100px;
        font-family: Peace;
        line-height: 100px;
        letter-spacing: 2px;
        @media (max-width: 768px) {
          font-size: 64px;
          line-height: 64px;
        }
      }
      .position {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
        margin-bottom: 20px;
        letter-spacing: -1px;
        color: $text-color-100;
        @media (max-width: 768px) {
          font-size: 24px;
          line-height: 30px;
        }
      }
      .description {
        font-size: 15px;
        line-height: 20px;
        color: $text-color-200;
      }
      .subTitle {
        font-size: 14px;
        font-weight: 500;
        color: $text-color-100;
      }
      .mImage {
        @media (min-width: 769px) {
          display: none !important;
        }
      }
      .mContent {
        @media (max-width: 768px) {
          position: absolute;
          bottom: 0;
        }
      }
      @media (max-width: 768px) {
        height: calc(100vh - 60px);
      }
    }
    .images {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .socialStrip {
      display: flex;
      margin-top: 32px;
      flex-direction: column;
      align-items: center;
      .socialButtons {
        display: flex;
        width: 250px;
        justify-content: space-between;
        .socialButton {
          border-radius: 50%;
          background-color: black;
          height: 60px;
          width: 60px;
          padding: 4px;
        }
      }
      .downloadResume {
        display: flex;
        align-self: center;
        margin-top: 20px;
        .downloadButton {
          background-color: $blue-color;
          color: white;
          display: flex;
          align-items: center;
          width: 250px;
          .buttonText {
            padding-right: 12px;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
          }
          .icon {
            width: 22px;
            height: 22px;
            .line {
              stroke: white;
              stroke-width: 6px;
            }
          }
          &:hover {
            .arrow {
              animation: arrowAnim 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
          }
        }
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

@keyframes arrowAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-50%);
    opacity: 1;
  }
}
