@use "sass:list";

$bg-colors: rgba(#b7acff, 0.8) rgba(#aff8db, 0.8) rgba(#ffb5e8, 0.8) rgba(#afcbff, 0.8) #fff5ba;
$font-colors: #605895 #689382 #a27494 #6b7c9e #a29c76;

.video {
  margin-bottom: 24px;
}

.button {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease-in-out 0.5s;
  &.inView {
    opacity: 1;
    transform: none;
  }
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  .chip {
    display: inline-block;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        background-color: nth($bg-colors, $i);
        color: nth($font-colors, $i);
      }
    }
  }
  &.inView {
    @for $i from 1 through 5 {
      .chip:nth-child(#{$i}) {
        transition-delay: $i * 0.2s + 0.5s;
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
