@import "styles/variables";
@import "styles/breakpoints";

.image {
  height: 220px;
  width: 220px;
  opacity: 0;
  transform: translateX(-150px);
  transition: all 0.6s ease-out;
  &.reverse {
    transform: translateX(150px);
  }

  @include md {
    height: 250px;
    width: 250px;
  }
}
.button {
  width: 200px;
  box-shadow: 0px 12px 40px rgba($blue-color, 0.7);
}
.inView {
  .image {
    transform: none;
    opacity: 1;
  }
}
