@import "variables.scss";
@import "utils.scss";

@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-UltraBlack.ttf");
  font-weight: 950;
}
@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Peace;
  src: url("../fonts/Peace-Sans.otf");
  font-weight: 800;
}
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: OpenSans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  background-color: $bg-color;
  padding: 0 10%;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  .bg {
    .aurora {
      position: absolute;
      border-radius: 50%;
    }
    @for $j from 1 through 7 {
      @for $i from 1 through 5 {
        .aurora-#{$j}:nth-child(#{$i}) {
          @if $i % 2 == 0 {
            top: #{rand(-100, 100)}px;
            left: #{rand(-100, 100)}px;
          } @else {
            bottom: #{rand(-150, 150)}px;
            right: #{rand(-150, 200)}px;
          }
          width: #{rand(300, 500)}px;
          height: #{rand(300, 500)}px;
          background-color: nth($aurora-array, rand(1, length($aurora-array)));
          filter: blur(#{rand(150, 200)}px);
        }
      }
    }
  }
  .col {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    max-width: 500px;
  }
  .a-center {
    align-items: center;
  }
  .button {
    border-radius: 50px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dWeb {
    @media (max-width: 768px) {
      display: none !important;
    }
  }
  .mWeb {
    @media (min-width: 769px) {
      display: none !important;
    }
  }

  @media (max-width: 768px) {
    padding: 0 32px;
  }
}
