@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-UltraBlack.ttf");
  font-weight: 950;
}
@font-face {
  font-family: Fuse;
  src: url("../fonts/Fuse-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Peace;
  src: url("../fonts/Peace-Sans.otf");
  font-weight: 800;
}
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Noto;
  src: url("../fonts/NotoSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: GreyCliff;
  src: url("../fonts/Greycliff-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: GreyCliff;
  src: url("../fonts/Greycliff-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: GreyCliff;
  src: url("../fonts/Greycliff-DemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: GreyCliff;
  src: url("../fonts/Greycliff-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: GreyCliff;
  src: url("../fonts/Greycliff-ExtraBold.otf");
  font-weight: 800;
}
@font-face {
  font-family: GreyCliff;
  src: url("../fonts/Greycliff-Heavy.otf");
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: OpenSans, GreyCliff, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  cursor: url("/images/hand.svg"), auto;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.main {
  position: relative;
  overflow-x: hidden;
  user-select: none;

  .cursorCircle {
    position: absolute;
    opacity: 1;
    animation: rotate 8s linear infinite;
    transition: all 0.5s ease-out;
    z-index: 10;
    &.hide {
      opacity: 0;
      animation: none;
    }
  }
  .col {
    flex: 1;
    flex-direction: column;
    display: flex;
    max-width: 500px;
  }
  .a-center {
    align-items: center;
  }
  .button {
    border-radius: 50px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
