@import "styles/variables.scss";

.section {
  padding: 100px 10%;
  position: relative;

  &.dark {
    background-color: #150c21;
    color: white;
  }

  .sectionTitle {
    text-align: center;
    font-size: 40px;
    line-height: 44px;
    font-weight: 950;
    margin-bottom: 40px;
    font-family: Fuse;
    letter-spacing: 1.5px;
  }

  .subSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    .title {
      font-size: 28px;
      line-height: 30px;
      font-weight: 700;
    }
    .subTitle {
      font-size: 18px;
      line-height: 28px;
      font-weight: 600;
    }
    .subSubTitle {
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
      margin-bottom: 4px;
    }
    .description {
      font-size: 14px;
      margin-top: 12px;
    }
    &.reverse {
      flex-direction: row-reverse;
    }
  }
  .link {
    background-color: $blue-color;
    .linkText {
      color: white;
      padding-right: 12px;
    }
    &:hover {
      .arrowIcon {
        animation: arrowAnim 0.3s ease-out;
      }
    }
    .arrowIcon {
      width: 26px;
      height: 16px;
      .arrow {
        fill: white;
      }
    }
  }
}

@keyframes arrowAnim {
  0% {
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}
