@import "styles/variables";
@import "styles/breakpoints";

.section {
  padding: 48px 24px 0;
  position: relative;
  @include md {
    padding: 100px 10%;
  }

  .titleSection {
    display: flex;
    justify-content: center;
    .sectionTitle {
      font-size: 28px;
      line-height: 38px;
      font-weight: 950;
      margin-bottom: 50px;
      font-family: Fuse;
      letter-spacing: 1.5px;
      position: relative;
      z-index: 2;
      text-align: center;
      display: inline-block;
      opacity: 0;
      transition: all 0.5s ease-out;

      @include md {
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 80px;
      }

      &::after {
        content: "";
        height: 14px;
        width: 105%;
        background-color: rgba($blue-color, 0.7);
        z-index: -1;
        position: absolute;
        bottom: 2px;
        left: 0;
        border-radius: 4px;
        transform: scaleX(0);
        transform-origin: center left;
        transition: all 0.5s ease-in-out 0.5s;

        @include md {
          width: 110%;
        }
      }
    }
    &.inView {
      .sectionTitle {
        opacity: 1;
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  %trans {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-out;
  }
  %anti-trans {
    opacity: 1;
    transform: none;
  }

  .subSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    flex-direction: column;
    row-gap: 24px;

    @include md {
      flex-direction: row;
      margin-bottom: 100px;
      &.reverse {
        flex-direction: row-reverse;
      }
    }

    .title {
      font-size: 20px;
      line-height: 26px;
      font-weight: 800;
      margin-bottom: 4px;
      color: $font-dark;
      @extend %trans;
      @include md {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 8px;
      }
    }
    .subTitle {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 4px;
      font-weight: 400;
      color: $font-medium;
      @extend %trans;
      @include md {
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
    .subSubTitle {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 4px;
      font-weight: 400;
      color: $font-medium;
      @extend %trans;
      @include md {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
    .description {
      font-size: 12px;
      line-height: 16px;
      margin-top: 8px;
      font-weight: 400;
      color: $font-light;
      margin-bottom: 18px;
      @extend %trans;
      @include md {
        font-size: 13px;
        margin-bottom: 24px;
      }

      ol {
        padding-left: 12px;
        li {
          padding: 0 0 6px 6px;
        }
      }
    }

    &.inView {
      .title {
        @extend %anti-trans;
      }
      .subTitle {
        transition-delay: 0.2s;
        @extend %anti-trans;
      }
      .subSubTitle {
        transition-delay: 0.4s;
        @extend %anti-trans;
      }
      .description {
        transition-delay: 0.6s;
        @extend %anti-trans;
      }
      .link {
        transition-delay: 0.8s;
        @extend %anti-trans;
      }
    }
  }
  .link {
    background-color: $blue-color;
    @extend %trans;
    .linkText {
      color: white;
      padding-right: 12px;
    }
    &:hover {
      .arrowIcon {
        animation: arrowAnim 0.3s ease-out;
      }
    }
    .arrowIcon {
      width: 26px;
      height: 16px;
      .arrow {
        fill: white;
      }
    }
  }
}
.dark {
  background-color: #181a30;
  color: white;
}

@keyframes arrowAnim {
  0% {
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}
