@import "styles/variables.scss";

.section {
  padding: 100px 10%;
  position: relative;

  .titleSection {
    display: flex;
    justify-content: center;
    .sectionTitle {
      font-size: 40px;
      line-height: 44px;
      font-weight: 950;
      margin-bottom: 80px;
      font-family: Fuse;
      letter-spacing: 1.5px;
      position: relative;
      z-index: 2;
      text-align: center;
      display: inline-block;
      opacity: 0;
      transition: all 0.5s ease-out;

      &::after {
        content: "";
        height: 14px;
        width: 110%;
        background-color: rgba(#5774ff, 0.7);
        z-index: -1;
        position: absolute;
        bottom: 2px;
        left: 0;
        border-radius: 4px;
        transform: scaleX(0);
        transform-origin: center left;
        transition: all 0.5s ease-in-out 0.5s;
      }
    }
    &.inView {
      .sectionTitle {
        opacity: 1;
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  %trans {
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease-out;
  }
  %anti-trans {
    opacity: 1;
    transform: none;
  }

  .subSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    .title {
      font-size: 25px;
      line-height: 30px;
      font-weight: 800;
      margin-bottom: 8px;
      @extend %trans;
    }
    .subTitle {
      font-size: 17px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 8px;
      @extend %trans;
    }
    .subSubTitle {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      margin-bottom: 8px;
      @extend %trans;
    }
    .description {
      font-size: 13px;
      line-height: 16px;
      margin-top: 8px;
      font-weight: 400;
      margin-bottom: 24px;
      @extend %trans;
    }
    &.reverse {
      flex-direction: row-reverse;
    }
    &.inView {
      .title {
        @extend %anti-trans;
      }
      .subTitle {
        transition-delay: 0.2s;
        @extend %anti-trans;
      }
      .subSubTitle {
        transition-delay: 0.4s;
        @extend %anti-trans;
      }
      .description {
        transition-delay: 0.6s;
        @extend %anti-trans;
      }
      .link {
        transition-delay: 0.8s;
        @extend %anti-trans;
      }
    }
  }
  .link {
    background-color: $blue-color;
    @extend %trans;
    .linkText {
      color: white;
      padding-right: 12px;
    }
    &:hover {
      .arrowIcon {
        animation: arrowAnim 0.3s ease-out;
      }
    }
    .arrowIcon {
      width: 26px;
      height: 16px;
      .arrow {
        fill: white;
      }
    }
  }
}
.dark {
  background-color: #181a30;
  color: white;
}

@keyframes arrowAnim {
  0% {
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    opacity: 0;
  }
  100% {
    transform: translateX(0) scaleX(1);
    opacity: 1;
  }
}
