$blue-color: #9670ff;
$red-color: #ff5858;
$dark-grey-color: #5a5a5a;

$bg-colors: rgba(#b7acff, 0.8) rgba(#aff8db, 0.8) rgba(#ffb5e8, 0.8) rgba(#afcbff, 0.8) #fff5ba;
$font-colors: #605895 #689382 #a27494 #6b7c9e #a29c76;
