$blue-color: #613dff;

$star-color: yellow;

$bg-color: #0a071d;

$aurora-array: #00b7ff, #00e7dd, #eb00ac, #8000ff, #7c5fff, #e700dd, #ce006e, #d60536, #00e769, #ffd833, #8f00d1,
  #5b65ff, #663fc0;
