.contact {
  .button {
    margin-bottom: 16px;
    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
    .title {
      padding-left: 12px;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      color: white;
    }
  }
}
