@import "styles/variables";

.skills {
  display: flex;
  gap: 60px 20px;
  flex-wrap: wrap;
  justify-content: center;

  .skill {
    display: flex;
    align-items: center;
    flex-direction: column;
    .image {
      width: 200px;
      height: 200px;
    }
    .title {
      font-size: 18px;
      line-height: 28px;
      font-weight: 700;
    }
  }
}
