@import "styles/variables";
@import "styles/utils";

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.skills {
  // display: flex;
  // gap: 48px 0px;
  // flex-wrap: wrap;
  // justify-content: space-evenly;
  .skill {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    cursor: pointer;
    position: absolute;
    animation: randomMotion 5s ease-out infinite;
    @for $i from 1 through 11 {
      .skillImage#{$i} {
        clip-path: url(#clipper#{$i});
      }
    }
    .blob {
      position: absolute;
      .clipPath {
        transform: scale(0.005, 0.005);
        path {
          transform: translate(75px, 75px);
        }
      }
    }
    // .starsContainer {
    //   .starIcon,
    //   .halfStarIcon {
    //     height: 40px;
    //     width: 40px;
    //     fill: $star-color;
    //     transform-origin: center center;
    //   }
    //   $delay: 0s;
    //   @for $i from 1 to 4 {
    //     .starIcon:nth-child(#{$i}),
    //     .halfStarIcon {
    //       animation: starAnim-#{$i} 1s ease-out $delay infinite;
    //     }
    //     $delay: $delay + 0.1s;
    //   }
    // }
    &:hover {
      .starsContainer {
        $current-anim-time: 0.3s;
        $anim-time: 0.3s;
        @for $i from 1 to 4 {
          .starIcon:nth-child(#{$i}),
          .halfStarIcon {
            animation: fadeIn $current-anim-time cubic-bezier(0.455, 0.03, 0.515, 0.955);
          }
          $current-anim-time: $current-anim-time + $anim-time;
        }
      }
    }
  }
}

@for $i from 1 to 4 {
  @keyframes starAnim-#{$i} {
    0% {
      transform: translate(0) rotate(0);
    }
    25% {
      transform: translate(#{random(3)}px, -#{random(2)}px) rotateZ(#{random(10)}deg);
    }
    50% {
      transform: translate(-#{random(3)}px, #{random(2)}px) rotateZ(-#{random(10)}deg);
    }
    75% {
      transform: translate(#{random(3)}px, -#{random(2)}px) rotateZ(#{random(10)}deg);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes randomMotion {
  0% {
    top: #{rand(0, 100)}vh;
    left: #{rand(0, 100)}vw;
  }
  100% {
    top: #{rand(0, 100)}vh;
    left: #{rand(0, 100)}vw;
  }
}
