@import "styles/variables";

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-top: 120px;
  .mainContent {
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      .name {
        font-size: 130px;
        font-family: Peace;
        line-height: 130px;
        letter-spacing: 2px;
      }
      .position {
        font-size: 32px;
        font-weight: 800;
        letter-spacing: -1px;
      }
      .description {
        font-size: 16px;
      }
    }
    .images {
      display: flex;
      flex: 1;
      flex-direction: column;
      .socialStrip {
        display: flex;
        margin-top: 24px;
        flex-direction: column;
        .socialButtons {
          display: flex;
          justify-content: space-evenly;
          .socialButton {
            border-radius: 50%;
            background-color: black;
            height: 50px;
            width: 50px;
            padding: 4px;
          }
        }
        .downloadResume {
          display: flex;
          align-self: center;
          margin-top: 24px;
          .downloadButton {
            background-color: $blue-color;
            color: white;
            display: flex;
            align-items: center;
            .buttonText {
              padding-right: 12px;
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
            }
            .icon {
              width: 22px;
              height: 22px;
              .line {
                stroke: white;
                stroke-width: 5px;
              }
            }
            &:hover {
              .arrow {
                animation: arrowAnim 0.5s ease-out;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes arrowAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-50%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
