@import "styles/variables";

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-top: 120px;
  .mainContent {
    display: flex;
    flex-direction: column;
    .content {
      display: flex;
      flex-direction: column;
      flex: 1;
      .name {
        font-size: 100px;
        font-family: Peace;
        line-height: 100px;
        letter-spacing: 2px;
        text-align: center;
      }
      .position {
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 20px;
        letter-spacing: -1px;
      }
      .description {
        font-size: 15px;
        line-height: 20px;
      }
      .subTitle {
        font-size: 14px;
      }
    }
    .images {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
}

@keyframes arrowAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-50%);
    opacity: 1;
  }
}
