@import "styles/section.module.scss";

.experiences {
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: hue-rotate(250deg) opacity(0.9);
    z-index: -1;
  }

  .sectionTitle {
    @extend %sectionTitle;
    color: black;
  }
}
