@import "styles/section.module.scss";

.experiences {
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: hue-rotate(250deg) opacity(0.9);
    z-index: -1;
  }

  .sectionTitle {
    @extend %sectionTitle;
    color: black;
  }

  .close {
    position: absolute;
    top: 40px;
    left: 50px;
    cursor: pointer;
  }

  .subSection {
    display: none;
    .experience3d {
      transition: all 0.3s ease-out;
      &:hover {
        filter: brightness(1.05) contrast(1.1) saturate(1.1) hue-rotate(5deg);
        transform: scale(1.1);
      }
    }
  }
}
