@import "styles/variables";

.contactSection {
  &.inView {
    .contact .detailSection .description {
      opacity: 1;
      transform: none;
    }
    .bgImage {
      opacity: 1;
      transform: none;
    }
  }
  .contact {
    position: relative;
    z-index: 1;
    margin-bottom: 0 !important;
    .detailSection {
      flex: 80%;
      margin-right: 200px;
      max-width: 600px;
      .title {
        justify-content: flex-start;
        h1 {
          margin-bottom: 32px;
        }
      }
      .description {
        opacity: 0;
        transform: translateY(100px);
        transition: all 0.3s ease-out 0.5s;
      }
      .socialStrip {
        display: flex;
        margin-top: 32px;
        flex-direction: column;
        .socialButtons {
          display: flex;
          justify-content: space-between;
          width: 220px;
        }
        .downloadResume {
          margin-top: 20px;
          width: 220px;
          opacity: 0;
          transform: scaleX(0);
          transform-origin: center center;
          transition: all 0.2s ease-in 1.5s;

          .downloadButton {
            background-color: $blue-color;
            color: white;
            display: flex;
            align-items: center;
            width: 100%;
            box-shadow: 0px 12px 40px rgba($blue-color, 0.4);

            .buttonText {
              padding-right: 12px;
              font-weight: 600;
              font-size: 18px;
              line-height: 28px;
              opacity: 0;
              transition: all 0.3s ease-out 1.8s;
            }
            .icon {
              width: 22px;
              height: 22px;
              opacity: 0;
              transition: all 0.3s ease-out 1.8s;

              .line {
                stroke: white;
                stroke-width: 6px;
              }
            }
            &:hover {
              .arrow {
                animation: arrowAnim 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                animation-play-state: running;
              }
            }
          }
        }
        .button {
          opacity: 0;
          transform: translateX(-100px);
          transition: all 0.3s ease-in-out;
          @for $var from 1 through 3 {
            &:nth-child(#{$var}) {
              transition-delay: ($var - 1) * 0.2s + 0.6s;
            }
          }
        }
        &.inView {
          .button {
            opacity: 1;
            transform: none;
          }
          .downloadResume {
            opacity: 1;
            transform: none;
            .buttonText {
              opacity: 1;
            }
            .icon {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .bgImage {
    position: absolute;
    right: 10%;
    bottom: 0;
    height: 450px;
    width: 450px;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.3s ease-out 0.5s;
  }
}

.socialButton {
  border-radius: 50%;
  background-color: white;
  height: 60px;
  width: 60px;
  padding: 4px;
  &:hover {
    .emailIcon {
      animation: emailTurn 0.35s ease-out;
      .base {
        fill: $red-color;
      }
      .flap {
        animation: flapAnim 0.3s ease-out 0.35s;
      }
    }
    .linkedinIcon {
      .letterI {
        animation: letterIAnim 0.3s ease-in;
      }
      .dot {
        animation: dotFallAnim 0.6s ease-out;
      }
      .letterN,
      .letterI,
      .dot {
        fill: $blue-color;
      }
    }
    .githubIcon {
      .head,
      .body,
      .tail {
        fill: $dark-grey-color;
      }
      .tail {
        transform-origin: 15px 35px;
        animation: tailAnim 0.3s ease-out;
      }
      .head {
        transform-origin: center bottom;
        animation: headAnim 0.5s ease 0.3s;
      }
    }
  }
  .emailIcon {
    width: 36px;
    height: 28px;
    .base {
      fill: black;
      transition: all 0.2s ease-out;
    }
    .outline {
      fill: white;
    }
  }
  .linkedinIcon {
    height: 24px;
    width: 24px;
    .letterN,
    .letterI,
    .dot {
      fill: black;
      transition: all 0.2s ease-out;
    }
  }
  .githubIcon {
    height: 24px;
    width: 24px;
    .head,
    .body,
    .tail {
      fill: black;
      transition: all 0.2s ease-out;
    }
  }
}

@keyframes arrowAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  51% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes emailTurn {
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  50% {
    transform: rotateZ(20deg) scale(1.05);
  }
}

@keyframes flapAnim {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
  }
  50% {
    transform: rotateX(60deg);
  }
}

@keyframes dotFallAnim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px) scaleY(1.2);
  }
}

@keyframes letterIAnim {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(2);
  }
}

@keyframes tailAnim {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(10deg);
  }
  50% {
    transform: rotateZ(-6deg);
  }
  75% {
    transform: rotateZ(6deg);
  }
}
@keyframes headAnim {
  0% {
    transform: rotateZ(0);
  }
  25% {
    transform: rotateZ(-6deg);
  }
  50% {
    transform: rotateZ(3deg);
  }
  75% {
    transform: rotateZ(-3deg);
  }
}
