.header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  .logo {
    position: absolute;
    left: 8%;
    animation: dropdown 0.75s ease-in-out, oscillation 4s linear 0.9s infinite;
    transform-origin: center top;
  }
  .links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 32px;
    justify-content: center;
    .navItem {
      padding: 20px 0;
      .link {
        color: white;
        font-weight: 600;
      }
    }
  }

  @keyframes dropdown {
    from {
      top: -70px;
    }
    to {
      top: 0;
    }
  }
  @keyframes oscillation {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(35deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-35deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
