$load-time: 2s;

.header {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  .logo {
    position: absolute;
    left: 8%;
    animation: dropdown 0.75s ease-in-out $load-time, oscillation 8s linear $load-time + 0.9s infinite;
    transform-origin: center top;
  }
  .links {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 32px;
    justify-content: center;
    .navItem {
      padding: 20px 0;
      animation: appear 0.3s ease-out both;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: $load-time + ($i - 1) * 0.3s;
        }
      }
      @keyframes appear {
        from {
          opacity: 0;
          transform: scale(0);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
      .link {
        color: white;
        font-weight: 600;
      }
    }
  }

  @keyframes dropdown {
    from {
      top: -70px;
    }
    to {
      top: 0;
    }
  }
  @keyframes oscillation {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    13% {
      transform: translateY(-7px) rotate(18deg);
    }
    25% {
      transform: translateY(-3px) rotate(35deg);
    }
    50% {
      transform: translateY(0) rotate(0deg);
    }
    75% {
      transform: translateY(-3px) rotate(-35deg);
    }
    88% {
      transform: translateY(-5px) rotate(-17deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }
}
