.projects {
  overflow: auto;
  padding: 0;
  cursor: grab;

  .projectContainer {
    width: 2500px;
    height: 1500px;
    position: relative;
    .bg {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      object-fit: cover;
      z-index: -1;
      filter: grayscale(1);
    }

    .title {
      position: fixed;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
