@import "styles/breakpoints";

.image {
  height: 220px;
  width: 220px;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 0.5s ease-in-out;

  @include md {
    height: 300px;
    width: 300px;
  }

  &.reverse {
    transform: translateX(150px);
  }
  &.inView {
    transform: translateX(0);
    opacity: 1;
  }
}
